:root {
    --bela-black: black;
    --beal-highlight-orange: #d75f1e;

    --bela-btns-font: 'Bebas Neue', cursive;
}

div.page {
    background-color: var(--bela-black);
}

/*  HEADING */
div.page div#heading-imgs {
    position: relative;
}

div.page div#heading-imgs img#bela-logo {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

button.bela-header-btn {
    width: 30%;
    font-family: var(--bela-btns-font);
    color: #d2d1d2;
    
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
button.bela-header-btn.active, button.bela-header-btn.pressed {
    color: var(--beal-highlight-orange);
    box-shadow: none;
}
button.bela-header-btn:hover {
    color: #9e4616;
    box-shadow: none;
}

/* Spark effect */
div#svg-star {
    position: absolute;
    /* This doesnt affect the SVG... Just to get the event */
    width: 0;
    height: 0;
    animation: 3s infinite alternate dummy;
}

@keyframes dummy {
    from { background: transparent; }
    to { background: transparent; }
}

#svg-star svg {
    width: 1.1rem;
    height: 1.1rem;

    transform-origin: center;

    animation: 3s infinite alternate scale_svg;
}

@keyframes scale_svg {
    from {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
    to {
        transform: scale(0.0);
    }
}

#svg-star svg path {
    transform-origin: center;
    
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

@keyframes fadeIn {
    from {
        fill: transparent;
        stroke: transparent;
        transform: rotate(0deg);
    }
  
    50% {
        fill: white;
        stroke: gray;
    }
  
    to {
        fill: transparent;
        stroke: transparent;
        transform: rotate(360deg);
    }
}

/* Articles styles */

.article-title {
    font-family: var(--bela-btns-font);
    color: var(--beal-highlight-orange);
    margin-bottom: 1rem;
}


.article-body p {
    color: #fefefe;
    font-size: 1.1rem;
    font-weight: 500;
}

.important-word {
    display: inline;
    text-transform: uppercase;
    color: var(--beal-highlight-orange);
}

.text-highlight-orange {
    color: var(--beal-highlight-orange);
}

/* General classes */
.letter-space-3 {
    letter-spacing: 3px;
}

ul.blist {
    list-style-type: none;
}

ul.blist li p {
    margin-bottom: 0;
}