:root {


    --shadow-transparency: rgba(0, 0, 0, 0.4);

    --eyefind-font: 'Source Sans Pro', sans-serif;
}

.card {
    background-color: rgba(206,204,207,255)!important;
}

.card-header {
    background-color: rgba(206,204,207,255)!important;
    width: 80%;
    border: 0!important;
}

.card-title {
    color: fuchsia;
}