:root {
    --shadow-transparency: rgba(0, 0, 0, 0.4);

    --eyefind-font: 'Source Sans Pro', sans-serif;
}

.lovemeet-card {
    background-color: rgba(206,204,207,255);
}


div.page div.lovemeet-card {
    border: 0;
}

div.page div.lovemeet-card div.card-header {
    background-color: rgba(206,204,207,255);
    width: 100%;
    border: 0;
}

div.page div.lovemeet-card div.card-body {
    background-color: rgba(206,204,207,255) !important;
}

div.page div.lovemeet-card div.card-header div.card-img-top {
    width: 50%;
}

div.page div.lovemeet-card div.card-body h3.card-title {
    color: fuchsia;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

div.page div.lovemeet-card div.card-body p.card-text {
    color: gray;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
}

div.page hr.middle-line {
    border: 5px solid rgb(156, 25, 97);
    margin-top: 50px;
}