:root {
    --shadow-transparency: rgba(0, 0, 0, 0.4);

    --lovemeet-font: 'Source Sans Pro', sans-serif;
    --lovemeet-pink: fuchsia;
    --lovemeet-pink-dark: rgb(156, 25, 97);
    --lovemeet-pink-light: rgb(156, 25, 97, 0.3);
    
    --lovemeet-gray-light: rgba(206,204,207, 1);
}

.lovemeet-card {
    background-color: var(--lovemeet-gray-light);
}

p {
    font-size: 1.5em;
    font-family: var(--lovemeet-font);
}

.text-bold {
    font-weight: bold;
}

div.page div.lovemeet-card {
    border: 0;
}

div.page div.lovemeet-card div.card-header {
    background-color: var(--lovemeet-gray-light);
    width: 100%;
    border: 0;
}

div.page div.lovemeet-card div.card-body {
    background-color: var(--lovemeet-gray-light);
}

div.page div.lovemeet-card div.card-header div.card-img-top {
    width: 50%;
}

div.page div.lovemeet-card div.card-body h3.card-title {
    color: var(--lovemeet-pink);
    font-weight: bold;
    font-family: var(--lovemeet-font);
}

div.page div.lovemeet-card div.card-body p.card-text {
    color: gray;
    font-weight: bold;
}

div.page div.lovemeet-card div.card-body button {
    background-color: rgba(211,133,183,1);
    border: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
    height: 40px;
    width: 100%;
}

div.page hr.middle-line {
    border: 5px solid var(--lovemeet-pink-dark);
    margin-top: 50px;
}

div#footer div {
    min-height: 6rem;
}

div#footer div a {
    color: black;
}

div#footer div a:hover {
    font-weight: bold;
}