:root {
    --shadow-transparency: rgba(0, 0, 0, 0.4);

    --krapea-font: 'Source Sans Pro', sans-serif;
    --krapea-green: green;
    --krapea-green-dark: rgba(64,77,56,1);
    --krapea-gray: rgb(165, 165, 165);
}

p {
    color: var(--krapea-green);
    font-family: var(--krapea-font);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.15;
}

.text-bold {
    font-weight: bold;
}

.z-index-1 {
    z-index: 1;
}

/** TITLE TEXT */
div.page div#main-page div.row  p#title {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/** SPECIAL OFFERS TEXT */
div.page div#main-page div.row  p#special-text {
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.25;
}

/** SPECIAL OFFERS ROW */
div.page div#main-page div.row#offers-row {
    margin-top: -75px;
    display: flex;
    flex-wrap: wrap;
}

/** LARGE AD CARD */
div.page div.row#main-page div.row div#large-card {
    border: none;
}

/** LARGE AD CARD BOTTOM TEXT*/
div.page div.row#main-page div.row div#large-card p#bottom-text{
    color: var(--krapea-green-dark);
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 1;
}

hr#separator {
    color: var(--krapea-gray);
    height: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}