:root {
    --eyefind-blue-light-color: #99cdff;
    --eyefind-blue-dark-color: #00679a;

    --eyefind-yellow-color: #febe03;
}

div.page {
    width: 100%;
    height: 100%;
    background: white;
  }
div.page nav {
    height: 100px;
    background: url('./../img/background.png');
    background: url('./../img/background.png');

    background-repeat: repeat-x;
    background-size: 
        /* This one is the normal looking */
        contain, 
        /* This one is streched *looks bad  (hide it below the normal one)*/
        300% 100% 
    ;
    animation: background-anim 16s linear infinite;
    animation-direction: alternate;
}

@keyframes background-anim {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

div.page div div div div#search-email-panel .se-panel {
    background: var(--eyefind-blue-light-color);
}
div.page div div div div#search-email-panel .se-panel div.label-background {
    background: #00649a;
}
div.page div div div div#search-email-panel .se-panel div form div.input-group input {
    background: rgba(0, 0, 0, 0);
    color: var(--eyefind-yellow-color);
    border-width: 0px 0px 1px 0px;
}
div.page div div div div#search-email-panel .se-panel div form div.input-group input::placeholder {
    color: white;
}

/*  Email panel and button */
div.page div div div div#search-email-panel div#email-panel {
    background: #5a98c9;
}
div.page div div div div#search-email-panel div#email-panel div.card {
    background: #5a98c9;
    color: var(--eyefind-yellow-color);
}
div.page div div div div#search-email-panel div#email-panel div.card .card-footer {
    padding: 0;
}
/*  Email button */
div.page div div div div#search-email-panel div#email-panel div#check-email-btn {
    height: 100%;
}
div.page div div div div#search-email-panel div#email-panel div#check-email-btn a {
    background: var(--eyefind-blue-dark-color);
}
div.page div div div div#search-email-panel div#email-panel div#check-email-btn a:hover {
    
    background: red;
}  